@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #003973 0%, #E5E5BE 100%);
    color: #f0f0f0;
    margin: 0;
}

.app-container {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    color: #f5f5f5;
}
